*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
}

h2{
  color: white;
  text-align: center;
}

.container{
  padding-bottom: 40px;
  background-color: #B21951;
}


/* regole inputs + actions */
.inputs-and-actions h2{
  padding: 20px;
}

.inputs-and-actions{
  border-radius: 20px;
  background-color: white;
  width: 80%;
  margin: auto;
  padding: 20px;
  box-shadow: 0 2px 0 2px rgba(0,0,0,0.5);
}


/* regole parte input */
.inputs{
  display: flex;
  justify-content: space-evenly;
}

.inputs>div{
  display: flex;
  flex-direction: column;
}

.inputs>div>*{
  margin-bottom: 10px;
}

.inputs>div>label{
  color: #B21951;
  text-align: center;
}

.inputs>div>*:last-child{
  border: 1px solid #B21951;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
}


/* regole parte actions */
.actions{
  margin-top: 20px;
  text-align: center;
}

.actions>input{
  color: #B21951;
  font-weight: 600;
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  border: 1px solid grey;
  margin: 0 5px;
}


/* regole parte results */
.row h2{
  padding-top: 20px;
}

.results{
  width: 80%;
  margin: auto;
  background-color: white;
  padding: 15px;
}

.results table{
  border-top: 1px solid gray;
  border-bottom: 1px solid black;
  padding: 15px;
  width: 100%;
  border-collapse: collapse;
}

.results table tr>th{
  text-align: left;
}

.results table tr:first-child>th:first-child{
    background-color: gray;
}

.results table tr>*:first-child,
.results table tr>*:nth-child(2){
  width: 25%;
}

.results table tr:first-child>*{
  padding: 20px 20px 0;
}

.results table tr:last-child>*{
  padding: 50px 20px 0;
}

#passenger-name{
  font-weight: 600;
  padding: 5px 20px 0;
  vertical-align: top;
  background-color: gray;
}
